<section class="group right-sidebar">
  <h1>$<%= @space.booking_rate_daily %></h1>
  <form action="<%= bookings_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Check in<br>
      <input type="date" name="booking[start_date]">
    </label>

    <label>Check out<br>
      <input type="date" name="booking[end_date]">
    </label>

    <%= select_numerical_given_options(label: "Guests",
                                   html_name: "booking[guest_count]",
                                      limits: [1, @space.accommodates]) %>

    <input type="hidden" name="booking[space_id]" value="<%= @space.id %>">

    <button type="submit">Book it</button>

  </form>

  <nav>

    <div id="owner-img"><%= link_to image_tag(@space.owner.photo, class: "user-image-medium"), @space.owner, method: :get %></div>

    <h3><%= "#{@space.owner.first_name}" %></h3>

  </nav>
</section>