<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">

    <%= tag "input", type: "email",
              placeholder: "Email Address",
                     name: "user[email]",
                    class: "input-medium input-long" %><br>

    <%= tag "input", type: "password",
              placeholder: "Password",
                     name: "user[password]",
                    class: "input-medium input-long" %><br>

    <%= tag "input", type: "submit",
                    value: "Log in",
                    class: "button blue" %>
</form>