<form action="<%= session_url %>" method="post" id="new-session-form">
  <input name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">

    <label for="email-address">Email address</label>
      <%= tag "input", type: "email",
                placeholder: "Email address",
                       name: "user[email]",
                      class: "input-medium input-long",
                         id: "email-address",
                      value: @user.email %><br>

    <label for="email-address">Password</label>
      <%= tag "input", type: "password",
                placeholder: "Password",
                       name: "user[password]",
                      class: "input-medium input-long",
                         id: "password" %><br>

      <%= tag "input", type: "submit",
                      value: "Sign in",
                      class: "button blue input-large label-offset-button" %>
</form>

<%= button_to "Sign in guest", guest_user_sign_in_session_url,
                      method: :put,
                       class: "button blue input-large label-offset-button",
                          id: "guest-user-button" %>