<section class="group non-sidebar">

  <h2><%= @space.title %></h2>
  <h3><%= "#{Space.residence_types[@space.residence_type]} -
           #{Space.room_types[@space.room_type]} -
           #{@space.city}" %></h3>

  <section class="tab-box-wrapper group">
    <%= render "spaces/show/photos_map_calendar" %>
  </section>

  <section class="tab-box-wrapper group">
    <%= render "spaces/show/description_amenities_house_rules" %>
  </section>

</section>

<%= render "spaces/show/booking_sidebar" %>