<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="email-address">First name</label>
  <%= tag "input", type: "input",
            placeholder: "First name",
                   name: "user[first_name]",
                  class: "input-medium input-long",
                  value: @user.first_name %><br>
  <label for="email-address">Last name</label>
  <%= tag "input", type: "input",
            placeholder: "Last name",
                   name: "user[last_name]",
                  class: "input-medium input-long",
                  value: @user.last_name %><br>
  <label for="email-address">Email address</label>
  <%= tag "input", type: "email",
            placeholder: "Email address",
                   name: "user[email]",
                  class: "input-medium input-long",
                  value: @user.email %><br>
  <label for="email-address">Password</label>
  <%= tag "input", type: "password",
            placeholder: "Password",
                   name: "user[password]",
                  class: "input-medium input-long" %><br>
  <label for="email-address">Password Confirmation</label>
  <%= tag "input", type: "password",
            placeholder: "Password confirmation",
                   name: "user[password_confirmation]",
                  class: "input-medium input-long" %><br>

  <input type="submit" value="Sign up" class="button blue input-large label-offset-button">
</form>

<%= button_to "Sign in guest", guest_user_sign_in_session_url,
                      method: :put,
                       class: "button blue input-large label-offset-button",
                          id: "guest-user-button" %>