<div>
  <%= gmaps4rails @json %>
</div>

<form id="sidebar-filters">
  <h4>Room Type</h4>
  <%= checkbox_group collection: Space.room_types,
                     ul_class:   "checkbox-li",
                     html_name:  "space_filters[room_types]" %>

  <h4>Price</h4>
  <label>Min:
    <input type="number" name="space_filters[booking_rate_min]"></input>
  </label><br>

  <label>Max:
    <input type="number" name="space_filters[booking_rate_max]"></input>
  </label>

  <h4>Guest Count</h4>
  <%= select_numerical_given_options(label: "",
                                 html_name: "space_filters[guest_count]",
                                    limits: [1,16]) %>

  <label>Check in<br>
    <input type="date" name="space_filters[start_date]">
  </label>

  <label>Check out<br>
    <input type="date" name="space_filters[end_date]">
  </label>

  <h4>Amenities</h4>
  <%= checkbox_group collection: Space.amenities_list,
                     ul_class:   "checkbox-li",
                     html_name:  "space_filters[amenities]" %>

  <button action="<%= spaces_url %>">Filter</button>
</form>