<li class="group space-index-list-item">
  <!-- replace these images with space and user images -->
  <%= link_to image_tag(space.photo, class: "space-image space-image-small"), space, method: :get %>
  <%= link_to image_tag(space.owner.photo, class: "host-image user-image-thumb"), user_url(space.owner_id), method: :get %>

  <header>
    <h3>
      <%= link_to space.title, space, method: :get%>
    </h3>
    <h4>
      <%= Space.room_types[space.room_type] %> -
      <%= space.city %>
    </h4>
  </header>

  <div class="price-data">
    $<%= space.booking_rate_daily %>
  </div>
</li>