<div>

  <img src="http://placekitten.com/300/300" class="user-image">
  <table>
    <% visitor = booking_visitor.user %>
    <% booking = booking_visitor %>
    <tr>
      <%= "#{visitor.first_name} #{visitor.last_name}" %>
    </tr>
    <tr>
      <%= "#{booking.start_date} - #{booking.end_date}" %>
    </tr>
  </table>

  <% statuses =       Booking.approval_statuses %>
  <% booking_status = booking.approval_status %>
  <div class="button-group">
    <% if booking_status == statuses[:approved] %>
      <%= button_to "Cancel", cancel_by_owner_booking_url(booking.id), method: :put %>
    <% elsif booking_status == statuses[:pending] %>
      <%= button_to "Approve", approve_booking_url(booking.id), method: :put %>
      <%= button_to "Decline", decline_booking_url(booking.id), method: :put %>
    <% else %>
      <h3>development placeholder</h3>
      <p>Status: <%= statuses[booking_status] %></p>
    <% end %>
  </div>
</div>