<header class="group space-bookings-index">

  <div id="space-img"><%= link_to image_tag("http://placekitten.com/300/300"), @space, method: :get %></div>

  <div id="calendar"><%= image_tag("http://placekitten.com/g/300/300") %></div>

</header>

<section>

  <h2>Approved Bookings</h2>

  <%= render partial:"bookings/index/booking",
             collection: @space.bookings.where("approval_status = ?",
                                               Booking.approval_statuses[:approved]) %>

  <h2>Pending Bookings</h2>

  <%= render partial:"bookings/index/booking",
             collection: @space.bookings.where("approval_status = ?",
                                               Booking.approval_statuses[:pending]) %>

  <h2>All Bookings</h2>

  <%= render partial:"bookings/index/booking",
             collection: @space.bookings %>

</section>