<nav class="group" id="user-banner">
    <ul>
  <% if logged_in? %>
      <li>Logged in as: <%= current_user.first_name %></li>
      <li><%= button_to "Logout", session_url, :method => :delete %></li>
  <% else %>
      <li><%= link_to "Sign up", new_user_url, method: :get %></li>
      <li><%= link_to "Sign in", new_session_url, method: :get %></li>
  <% end %>
      <li><%= button_to "Create New Space", new_space_url, method: :get %></li>
    </ul>
</nav>