<!DOCTYPE html>
<html>
<head>
  <title>cloudbnb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

  <%= render "header/header" %>

  <% if flash[:errors] || flash[:notices] %>
    <div class="group" id='errors-notices'>
      <%= render "header/flash_errors" %>
      <%= render "header/flash_notices" %>
    </div>
  <% end %>

  <% unless params[:controller] == "root" %>
    <div class="main group">
      <%= yield %>
    </div>
  <% else %>
      <%= yield %>
  <% end %>

</body>
</html>
