<!DOCTYPE html>
<html>
<head>
  <title>AirbnbClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
</head>
<body>

  <header class="group" id="site-header">
    <%= render "shared/flash_errors" %>
    <%= render "shared/flash_notices" %>
    <%= render "shared/login_logout_banner" %>
  </header>

  <%= yield %>

  <footer>
    <%= yield :scripts %>
  </footer>
</body>
</html>
